<!--
                                                          :::      ::::::::
     formateur_id.html                                  :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/28 13:55:42 by tbouder           #+#    #+#
     Updated: 2016/01/28 14:55:15 by tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/formateur_id.css' %}" />
{% endblock stylesheet %}

{% block content %}
	<div class="title_forma">
		<div class="title">COMPTE <span class="title_next">FICHE PRODUIT - ORGANISME DE FORMATION</span></div>
	</div>

<div class="corps">
	<div class="raw center-block" style="width:70%;" >

		<div class="col-md-6 col-sm-6 col-xs-12 ">
			<div class="left_top_box"><img src="{% static 'Core/img/ciel.png' %}"></div>
			<div class="left_top_box_center">Informations générales - Coordonnées</div>
			<div class="left_top_box_obj">
				<em>Nom de l'organisme :</em> <br/>
				<em>Nom du contact :</em> <br/>
				<em>Téléphone :</em> <br/>
				<em>Email :</em> <br/>
				<em>Addresse :</em> <br/>
			</div>

			<div class="left_top_box_center">Informations juridiaues</div>
			<div class="left_middle_box_obj"><em>Objectif de la formation : </em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nulla, eu pellentesque erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae vestibulum ante, quis semper felis. Curabitur egestas tincidunt turpis at aliquam.</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12 ">
			<div class="center_top_box">Modalités d'intervention</div>
			<div class="center_top_box_obj">
				<em>Centre de formation / formateur mobile :</em> <br/>
				<em>Nombre de formateurs :</em> <br/>
				<em>Conditions d'accueil :</em> <br/>
				<em>Restauration sur place :</em> <br/>
				<em>Hébergement sur place :</em> <br/>
				<em>Accès handicapés :</em> <br/>			
			</div>
			<div class="center_middle_box">Formations proposées</div>
			<div class="center_middle_box_obj"><em>Formation : </em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nulla, eu pellentesque erat.</div>
			<div class="center_bottom_box">Note des utilisateurs</div>
			<div class="center_bottom_box_stars">
				<img src="{% static 'Core/img/star.png' %}" style="width:10%;"/>
				<img src="{% static 'Core/img/star.png' %}" style="width:10%;"/>
				<img src="{% static 'Core/img/star.png' %}" style="width:10%;"/>
				<img src="{% static 'Core/img/star_off.png' %}" style="width:10%;"/>
				<img src="{% static 'Core/img/star_off.png' %}" style="width:10%;"/>
			</div>


		</div>

<!-- 		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="right_top_box"><img src="{% static 'Core/img/ciel.png' %}"></div>

			<div class="right_middle_box">Contact</div>
			<div class="right_middle_box_contact">
				<em>Nom de l'organisme :</em> <br/>
				<em>Nom du contact :</em> <br/>
				<em>Téléphone :</em> <br/>
				<em>Email :</em> <br/>
				<em>Addresse :</em> <br/>
			</div>
			<div class="right_middle_box_bottom">Demander plus d'informations</div>
		</div> -->
	</div>
</div>

{% endblock content %}