<!--
                                                          :::      ::::::::
     forma.html                                         :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/24 19:22:11 by Tbouder           #+#    #+#
     Updated: 2016/01/26 17:42:49 by Tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/map.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/search.css' %}" />
{% endblock stylesheet %}

{% block scripts %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn46IafLqxX6wrLq71gmjUe6gZ1H1BGmA"></script>
	<script src="{% static 'Core/js/gmapsbig.js?v00021' %}"></script>
{% endblock scripts %}

{% block content %}
<div class="corps"><div id="map_big"></div></div>

<div id="over_map_search">
	<div id="wrap">
		<input id="address" type="text" class="required text large" placeholder="Cherchez une région" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()" autocomplete="off">
		<input type="text" class="required text small" placeholder="Région" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()" autocomplete="off">
		<input id="btnSearch" value="find" type="submit" onClick="geocode()">
	</div>
</div>


{% endblock content %}

{% block content_script%}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock content_script%}
