<!--
                                                          :::      ::::::::
     formation_id.html                                  :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/28 12:03:58 by tbouder           #+#    #+#
     Updated: 2016/01/28 14:55:11 by tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/formation_id.css' %}" />
{% endblock stylesheet %}

{% block content %}
	<div class="title_forma">
		<div class="title">COMPTE <span class="title_next">FICHE PRODUIT - FORMATION</span></div>
	</div>

<div class="corps">
	<div class="raw">

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="left_top_box">Période indicative</div>
			<div class="left_top_box_left"><em>Durée :</em> XX jours</div><div class="left_top_box_right"><em>Prix :</em> YY euros</div>

			<div class="left_middle_box">Contenu</div>
			<div class="left_middle_box_obj"><em>Objectif de la formation : </em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nulla, eu pellentesque erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae vestibulum ante, quis semper felis. Curabitur egestas tincidunt turpis at aliquam.</div>
			<div class="left_middle_box_descrip"><em>Description de la formation : </em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nulla, eu pellentesque erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae vestibulum ante, quis semper felis. Curabitur egestas tincidunt turpis at aliquam.</div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="center_top_box"><em>Condition d'accès et prérequis</em><br/><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nulla, eu pellentesque erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae vestibulum ante, quis semper felis. Curabitur egestas tincidunt turpis at aliquam.</div>

			<div class="center_middle_box">Profil</div>
			<div class="center_middle_box_valid"><em>Validation : </em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nulla, eu pellentesque erat.</div>
			<div class="center_middle_box_attest"><em>Attestation : </em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nulla, eu pellentesque erat.</div>
			<div class="center_middle_box_infos"><em>Informations complémentaires : </em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nulla, eu pellentesque erat.</div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="right_top_box"><img src="{% static 'Core/img/ciel.png' %}"></div>

			<div class="right_middle_box">Contact</div>
			<div class="right_middle_box_contact">
				<em>Nom de l'organisme :</em> <br/>
				<em>Nom du contact :</em> <br/>
				<em>Téléphone :</em> <br/>
				<em>Email :</em> <br/>
				<em>Addresse :</em> <br/>
			</div>
			<div class="right_middle_box_bottom">Demander plus d'informations</div>
		</div>
	</div>
</div>

{% endblock content %}