<!--
                                                          :::      ::::::::
     index.html                                         :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/26 11:45:37 by Tbouder           #+#    #+#
     Updated: 2016/02/11 18:45:28 by Tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/index.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/search.css' %}"/>
{% endblock stylesheet %}

{% block scripts %}
	<!-- Script for google map -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn46IafLqxX6wrLq71gmjUe6gZ1H1BGmA"></script>
	<script src="{% static 'Core/js/gmaps.js?v00002' %}"></script>
	<!-- Script for title fading out (H1) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!-- <script src="{% static 'Core/js/title_fade.js?v=00013' %}"></script> -->
{% endblock scripts %}

{% block content %}
	<div class="mappi"><div id="map"></div></div>
	<div>
		<div id="over_map">
			<h1 class="title"><img src="{% static 'Core/img/logo.png' %}" class="logo"/>
			TrainerHunter</h1><div class="slogan">Trouvez la formation idéale près de chez vous</div>
		</div>

		<!-- Search bar -->
		<script>
			function clickEvent()
			{
				sessionStorage.myvar = $("#search").val();
				location.href = '{% url 'map' %}';
			}
		</script>
		<div id="over_map_search">
			<div id="wrap">
				<form action="{% url 'map' %}" autocomplete="off">
					<input id="search" name="search" type="text" class="required text large" placeholder="Chercher un lieu" onkeydown = "if (event.keyCode == 13) document.getElementById('search_submit').click()">
					<input name="search" type="text" class="required text small" placeholder="Lieu" onkeydown = "if (event.keyCode == 13) document.getElementById('search_submit').click()">
					<input id="search_submit" value="Rechercher" type="button" onclick="clickEvent()">
				</form>
			</div>
		</div>
	</div>

	<section class="front">
	<br/>
		<div class="raw">
			<div class="col-md-3 col-sm-3 hidden-xs">
				<img src="{% static 'Core/img/icon_france.png' %}" class="bg_left_img img-responsive"/><br/>
				<p class="subtitle"><a href="#content_one">Recherchez une formation</a></p>
			</div>
			<div class="col-md-3 col-sm-3 hidden-xs">
				<img src="{% static 'Core/img/icon_ppl.png' %}" class="bg_center_img img-responsive"/><br/>
				<p class="subtitle"><a href="#content_two">Trouvez un formateur près de chez vous</a></p>
			</div>
			<div class="col-md-3 col-sm-3 hidden-xs">
				<img src="{% static 'Core/img/icon_calendrier.png' %}" class="bg_right_img img-responsive"/><br/>
				<p class="subtitle"><a href="#content_three">Gérez votre temps</a></p>
			</div>
			<div class="col-md-3 col-sm-3 hidden-xs">
				<img src="{% static 'Core/img/icon_budget.png' %}" class="bg_right_img img-responsive"/><br/>
				<p class="subtitle"><a href="#content_three">Maîtrisez votre budget</a></p>
			</div>
		</div>
	</section>
	
	<hr class="hr" id="content_one"/>
	
	<section class="container">
		<div class="raw">
			<div class="col-md-7 col-sm-7 col-xs-12 content_left">
				<img src="{% static 'Core/img/img_coding_on_mac.png' %}" class="img-responsive test"/>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 content_scrible">
				<p class="content_title">Recherchez<br/> une formation</p>
				<p class="content_text">Besoin d’une formation rapidement ? TrainerHunter vous aide à trouver la formation idéale et proche de chez vous en quelques clics ! Remplissez le formulaire d’inscription et accédez à notre service immédiatement et gratuitement.</p>
			</div>
		</div>
	</section>

	<hr class="hr" id="content_two"/>

	<section class="container">
		<div class="raw">
			<div class="col-md-5 col-sm-5 col-xs-12 content_scrible">
				<p class="content_title">Trouvez un formateur<br/> près de chez vous</p>
				<p class="content_text">Grâce à notre carte intelligente, localisez les formateurs proches de votre domicile ou votre lieu de travail. La carte vous indique également la mobilité du formateur, qui peut se déplacer chez vous pour vous faire gagner du temps !<br/>
				Si aucun formateur ne propose ce que vous recherchez, demandez une formation adaptée à vos besoins : les formateurs reçoivent une alerte, et vous font une proposition sur mesure via le formulaire de contact</p>
				</div>
			</div>
			<div class="col-md-7 col-sm-7 col-xs-12 content_right">
				<img src="{% static 'Core/img/img_rand_dude_on_mac.png' %}" class="img-responsive"\>
			</div>
		</div>
	</section>

	<hr class="hr" id="content_three"/>
	
	<section class="container">
		<div class="raw">
			<div class="col-md-6 col-sm-6 col-xs-12 content_left">
				<img src="{% static 'Core/img/gestion_time.png' %}" class="img-responsive test"/>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 content_right">
				<img src="{% static 'Core/img/img_rand_dude_on_mac.png' %}" class="img-responsive"\>
			</div>
		</div>
		<div class="raw">
			<div class="col-md-6 col-sm-6 col-xs-12 content_left">
				<p class="content_title_end">Gérez votre temps</p>
				<p class="content_text_end">Grâce à TrainerHunter, choisissez votre formateur et entrez facilement en contact avec lui pour réserver votre formation. Toutes ses coordonnées sont disponibles directement sur la carte.<br/>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem interdum, volutpat mauris in, convallis ipsum. Duis consequat justo sed nibh lobortis ornare. Integer ornare odio lacinia ante semper, in luctus ex dapibus. Nullam non felis ut arcu finibus tempus.</p>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 content_right">
				<p class="content_title_end">Gagnez du temps</p>
				<p class="content_text_end">Trouvez rapidement la formation qui vous correspond et économisez sur vos frais de déplacement en vous formant près de chez vous !<br/>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem interdum, volutpat mauris in, convallis ipsum. Duis consequat justo sed nibh lobortis ornare. Integer ornare odio lacinia ante semper, in luctus ex dapibus. Nullam non felis ut arcu finibus tempus.</p>
				</div>
			</div>
	</section>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock content %}
