<!--
                                                          :::      ::::::::
     login.html                                         :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/26 12:46:23 by Tbouder           #+#    #+#
     Updated: 2016/01/26 21:40:08 by Tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/login.css' %}" />
{% endblock stylesheet %}

{% block content %}
<div class="container"><div class="raw">
	<div class="col-md-6 col-sm-5 col-xs-12">
		<form class="form-signin">
			<h2 class="form-signin-heading">Mon Compte</h2><br/>
			<div class="txt">
				<span class="forma">Vous êtes formateur ? </span>
				<span class="forma_dos"><a href="{% url 'pro' %}">Cliquez ici pour accéder à votre compte professionnel</a></span>
			</div>
			<label for="inputEmail" class="sr-only">Addresse Email</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Mot de Passe</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox"><label><input type="checkbox" value="remember-me"> Se souvenir de moi</label></div>
			<button class="btn btn-2-o btn-2a-o center-block" type="submit">Je me connecte !</button>
		</form>
		<div class="form-signin"><a href="{% url 'wip' %}"><button class="btn btn-2 btn-2a center-block">Se connecter avec Facebook</button></a></div>


	</div>
	<div class="col-md-6 col-sm-5 col-xs-12">
		<div class="raw_right">
			<p class="form-signin-heading_right">Pas encore de compte ?<br/>
			Créez un compte en seulement 2 minutes pour accèder à notre offre !</p>
			<div class="form-signin"><a href="{% url 'wip' %}"><button class="btn btn-2 btn-2a center-block">S'inscrire</button></a></div>
		</div>
	</div>
</div></div>
{% endblock content %}
