<!--
                                                          :::      ::::::::
     map.html                                           :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/26 14:32:19 by Tbouder           #+#    #+#
     Updated: 2016/01/27 12:16:32 by Tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/forma.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/search.css' %}" />
{% endblock stylesheet %}

{% block scripts %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn46IafLqxX6wrLq71gmjUe6gZ1H1BGmA"></script>
	<script type="text/javascript">
		var map; /* map */
		var geocoder = new google.maps.Geocoder(); /* geocoder */

		/* global google */
		function launch() 
		{
			var latlng = new google.maps.LatLng(34.070264, -118.4440562);
			var myOptions = 
			{
				zoom: 13,
				panControl:false,
				zoomControl:true,
				mapTypeControl:false,
				scaleControl:false,
				streetViewControl:false,
				overviewMapControl:false,
				rotateControl:false,
				center: {lat:48.896539, lng: 2.318376}, // 42
				styles: [
					{"featureType":"Road.arterial","elementType":"geometry","stylers":[{"visibility":"off"}]},
					{"featureType":"Road.highway","elementType":"all","stylers":[{"visibility":"off"}]},
					{"featureType":"Road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},
					{"featureType":"landscape","elementType":"all","stylers":[{"color":"#efebe2"}]},
					{"featureType":"poi","elementType":"all","stylers":[{"color":"#efebe2"}]},
					{"featureType":"poi.attraction","elementType":"all","stylers":[{"color":"#efebe2"}]},
					{"featureType":"poi.business","elementType":"all","stylers":[{"color":"#efebe2"}]},
					{"featureType":"poi.government","elementType":"all","stylers":[{"color":"#dfdcd5"}]},
					{"featureType":"poi.medical","elementType":"all","stylers":[{"color":"#dfdcd5"}]},
					{"featureType":"poi.park","elementType":"all","stylers":[{"color":"#bad294"}]},
					{"featureType":"poi.place_of_worship","elementType":"all","stylers":[{"color":"#efebe2"}]},
					{"featureType":"poi.school","elementType":"all","stylers":[{"color":"#efebe2"}]},
					{"featureType":"poi.sports_complex","elementType":"all","stylers":[{"color":"#efebe2"}]},
					{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},
					{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},
					{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},
					{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},
					{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"#fbfbfb"}]},
					{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},
					{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},
					{"featureType":"water","elementType":"all","stylers":[{"color":"#a5d7e0"}]}
				]
			};
			map = new google.maps.Map(document.getElementById('map_canvas'),myOptions);
			{% for mark in zone_test %}
			var markers = {};
			var marker = f();
			markers[marker] = new google.maps.Marker({
				position: new google.maps.LatLng({{mark.lat}}, {{mark.longitude}}),
				map: map,
				title: '{{mark.name}}',
			})
			addInfoWindow(markers[marker], '<h4>{{mark.name}}</h1><br/>{{mark.address}} {{mark.zip_code}} {{mark.tel}}<br/>{{mark.city}}');
			{% endfor %}

			function addInfoWindow(marker, message)
			{
				var infoWindow = new google.maps.InfoWindow({content: message});
				google.maps.event.addListener(marker, 'click', function () {infoWindow.open(map, marker);});
	        }

			function f()
			{
			  f.count = ++f.count || 1 // f.count is undefined at first 
			  return (f.count);
			}

			// Try HTML5 geolocation.
			if (navigator.geolocation && !sessionStorage.myvar)
			{
				navigator.geolocation.getCurrentPosition(function(position)
				{
					var pos = { lat: position.coords.latitude,lng: position.coords.longitude };
					map.setCenter(pos);
				},
				function(){ handleLocationError(true, infoWindow, map.getCenter()); });
			} 
			else { handleLocationError(false, infoWindow, map.getCenter()); }
		}

		function geocode(address) 
		{
			if (!address)
				address = $('#address').val();
			geocoder.geocode( { 'address': address}, function(results, status)
			{
				if (status == google.maps.GeocoderStatus.OK) 
				{
					map.setCenter(results[0].geometry.location);
					map.setZoom(15);
				} 
				else 
				{ alert("Geocode was not successful for the following reason: " + status);}
			});
			if (sessionStorage.myvar)
				{ delete sessionStorage.myvar; }
		}

		function handleLocationError(browserHasGeolocation, infoWindow, pos)
		{
			infoWindow.setPosition(pos);
			infoWindow.setContent(browserHasGeolocation ?
			'Erreur: La géolocalisation a échouée.' :
			'Erreur: Votre navigateur ne supporte pa la géolocalisation.');
		}
		google.maps.event.addDomListener(window, 'load', launch);
		marker.setMap(map);
	</script>
{% endblock scripts %}

{% block content %}
	<!-- Map -->
	<div class="corps"><div id="map_canvas"></div></div>

	<div id="over_map_search">
		<div id="wrap">
			<input id="address" type="text" class="required text large" placeholder="Chercher un lieu" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()" autocomplete="off">
			<input type="text" class="required text small" placeholder="Lieu" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()" autocomplete="off">
			<input id="btnSearch" value="find" type="submit" onclick="geocode();">
			<script>
				window.onload = function()
				{
					if (sessionStorage.myvar)
						geocode(sessionStorage.myvar);
				}
			</script>
		</div>
	</div>

{% endblock content %}

{% block content_script%}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock content_script%}
