<!--
                                                          :::      ::::::::
     pro.html                                           :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/26 15:49:00 by Tbouder           #+#    #+#
     Updated: 2016/01/26 21:44:43 by Tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/pro.css' %}" />
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn46IafLqxX6wrLq71gmjUe6gZ1H1BGmA"></script>
	<script src="{% static 'Core/js/gmaps_bg.js' %}"></script>
{% endblock stylesheet %}

{% block content %}
<div class="mappi"><div id="map"></div></div>
<div class="page">
	<div class="main_title"><span class="simpli">Simplifiez</span> vos formations</div>
	<div class="sub_title">Pour un prix unique de 50€ HT/mois</div>
	<a href="{% url 'wip' %}"><button class="btn btn-2 btn-2a center-block"><span class="inscrip">S'inscrire</span></button></a>
</div>

<div class="bottom_blocks">
	<div class="raw">
		<div class="choose_block"><div class="choose_txt">Choisissez votre formule</div></div>
	</div>

	<a href="{% url 'wip' %}">
	<div class="raw">
		<div class="col-md-6 col-sm-6 col-xs-12 classic_block">
			<div class="txt">Classique</div>
			<img src="{% static 'Core/img/classic.png' %}" class="picto img-responsive center-block" />
		</div>
	</div>
	</a>
	<a href="{% url 'wip' %}">
	<div class="raw">
		<div class="col-md-6 col-sm-6 col-xs-12 premium_block">
			<div class="txt">Premium</div>
			<img src="{% static 'Core/img/premium.png' %}" class="picto img-responsive center-block" />
		</div>
	</div>
	</a>
</div>

{% endblock content %}
