<!--
                                                          :::      ::::::::
     product.html                                       :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/26 17:00:46 by Tbouder           #+#    #+#
     Updated: 2016/01/26 21:53:24 by Tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'Core/css/reset.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/product.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
{% endblock stylesheet %}

{% block content %}
	<div class="cd-pricing-container">
		<ul class="cd-pricing-list">
			<li>
				<header class="cd-pricing-header">
					<h2>Classique</h2>
				</header> <!-- .cd-pricing-header -->

				<div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li>Votre organisme et vos formations sont référencées<br/>
						par nos soins, et vous ne payez que pour de vrais clients !<br/><br/>
						Grâce à notre formule « classique », optez pour le marketing<br/>
						à la performance, et ne dépensez que pour les leads générés.</li>
					<li></li>
					</ul>
				</div> <!-- .cd-pricing-body -->

			</li>
		</ul>
		<ul class="cd-pricing-list">
			<li class="cd-popular">
				<header class="cd-pricing-header">
					<h2>Premium</h2>

					<div class="cd-price">
						<span class="cd-currency">€</span>
						<span class="cd-value">49.99</span>
						<span class="cd-duration">mois</span>
					</div>
				</header> <!-- .cd-pricing-header -->

				<div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>Augmentez</em> le nombre de leads générés</li>
						<li><em>Personnalisez</em> votre fiche et vos mots-clés</li>
						<li><em>Accédez en illimité</em> à la carte des demandeurs de formation</li>
						<li>Bénéficiez d'un <em>accès prioritaire</em> à notre support</li>
					</ul>
				</div> <!-- .cd-pricing-body -->

				<div class="cd-pricing-footer">
					<a href="{% url 'wip' %}"><button class="btn btn-2-o btn-2a-o"><span class="text-o">S'inscrire</span></button></a>
				</div>  <!-- .cd-pricing-footer -->
			</li>
		</ul> <!-- .cd-pricing-list -->
	</div> <!-- .cd-pricing-container -->
{% endblock content %}
