<!--
                                                          :::      ::::::::
     wip.html                                           :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/26 16:00:06 by Tbouder           #+#    #+#
     Updated: 2016/01/26 17:42:39 by Tbouder          ###   ########.fr
-->

{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'Core/css/wip.css' %}" />
{% endblock stylesheet %}

{% block content %}
<section class="container">
	<div class="raw">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h1 class="txt">WORK IN PROGRESS</h1>
			<img class="load img-responsive" src="{% static 'Core/img/rings.svg' %}" />
		</div>
	</div>
</section>
{% endblock content %}
