{% load staticfiles %}
<!DOCTYPE html>
	<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trainer Hunter</title>

		{% block stylesheet %}  {% endblock stylesheet %}
		{% block scripts %}	{% endblock scripts %}

		<!-- Bootstrap general -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		{% include 'nav.html' %}
		<header>{% include 'header.html' %}</header>
		<nav>{%block nav %} {%endblock nav %}</nav>
		<article>{% block content %} {% endblock content %}</article>
		<footer>{% include 'footer.html' %}</footer>
		{% block content_script%} {% endblock content_script%}
	</body>
</html>