<!--
                                                          :::      ::::::::
     nav.html                                           :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/01/26 15:29:26 by Tbouder           #+#    #+#
     Updated: 2016/01/26 17:42:44 by Tbouder          ###   ########.fr
-->

{% load static %}
{% block nav %}
<style type="text/css">
.login
{
	right: 0vw;
}
@media (min-width: 768px) {
	.title
	{
		margin-top: 8%;
	}
	.login
	{
		right: -48vw;
	}
}
.logo_nav
{
	width: 44px;
	position: absolute;
	left: 2%;
	top: 5%;

}
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<img src="{% static 'Core/img/logo_small.png' %}" class="logo_nav" />

		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'index' %}">Accueil</a></li>
				<li><a href="{% url 'map' %}">Carte des formations</a></li>
				<li><a href="{% url 'product' %}">Nos produits</a></li>
				<li><a href="{% url 'login' %}" class="login">Particulier</a></li>
				<li><a href="{% url 'pro' %}" class="login">Professionnel</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock nav %}