/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   formation_id.css                                   :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/01/28 12:04:52 by tbouder           #+#    #+#             */
/*   Updated: 2016/01/28 13:56:15 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

/* GENERAL */
	.title_forma
	{
		margin-top:			-6%;
		height:				calc(100vw / 16);
		background-color:	#173D50;
		font-size:			calc(100vw / 40);
	}

	.title
	{
		padding-top:		2%;
		padding-left:		2%;
		color:				#EF861D;
	}

	.title_next
	{
		color:				#FFFFFF;
	}

	.corps
	{
		margin:				auto auto;
		width:				auto;
		height:				85.2vh;
		background:			url(../img/mooning.png);
		background-color:	#878E90;
	}

	em
	{
		font-style:			normal;
		font-weight:		bold;
	}

/* LEFT */
	.left_top_box
	{
		margin-top:			5%;
		font-size:			calc(100vw / 50);
		color:				#FFFFFF;
		text-align:			center;
		background-color:	#CB4E48;
	}

	.left_top_box_left
	{
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		margin-left:		10%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		text-align:			center;
		background-color:	#FFFFFF;
	}

	.left_top_box_right
	{
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		margin-left:		22%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		text-align:			center;
		background-color:	#FFFFFF;
	}

	.left_middle_box
	{
		margin-top:			5%;
		font-size:			calc(100vw / 50);
		color:				#FFFFFF;
		text-align:			center;
		background-color:	#CB4E48;
	}

	.left_middle_box_obj
	{
		width:				100%;
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		text-align:			justify;
		background-color:	#FFFFFF;
	}

	.left_middle_box_descrip
	{
		width:				100%;
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		text-align:			justify;
		background-color:	#FFFFFF;
	}

/* CENTER */
	.center_top_box
	{
		width:				100%;
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		background-color:	#FFFFFF;		
	}

	.center_middle_box
	{
		margin-top:			5%;
		font-size:			calc(100vw / 50);
		color:				#FFFFFF;
		text-align:			center;
		background-color:	#CB4E48;
	}

	.center_middle_box_valid
	{
		width:				100%;
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		background-color:	#FFFFFF;
	}

	.center_middle_box_attest
	{
		width:				100%;
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		background-color:	#FFFFFF;
	}

	.center_middle_box_infos
	{
		width:				100%;
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		background-color:	#FFFFFF;
	}

/* RIGHT */
	.right_top_box
	{
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		background-color:	#FFFFFF;
	}

	.right_middle_box
	{
		margin-top:			5%;
		font-size:			calc(100vw / 50);
		color:				#FFFFFF;
		text-align:			center;
		background-color:	#CB4E48;
	}

	.right_middle_box_contact
	{
		width:				100%;
		margin-top:			2%;
		padding-top:		2%;
		padding-bottom:		2%;
		display:			inline-block;
		padding-left:		2%;
		padding-right:		2%;
		border-radius:		5px;
		font-size:			calc(100vw / 90);
		color:				#000000;
		background-color:	#FFFFFF;
	}

	.right_middle_box_bottom
	{

	}
