/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/01/26 13:18:23 by Tbouder           #+#    #+#             */
/*   Updated: 2016/01/28 14:57:36 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

/* Add 50px because of the nav bar */
body { padding-top: 50px; background: url(../img/bg_index.png) repeat;}

/* Add 20px to avoid br between each blocks */
.row { padding-top: 20px; }

/* Add space between blocks */
.space { margin-top: 4%; }

/* Center the images (Boostrap edit) */
.img-responsive { margin: 0 auto; }

/* Display a line as separator */
.hr {
	margin-top:4%;
	margin-bottom:4%;
	width: 70%;
	height: 1px;
	color: #BBB;
	background-color: #BBB;
}


/*Main Title*/
.title
{
	font-size: calc(100vw / 16);
    float: none;
	color: #000000;
	font-family: "Coolvetica";
	text-align: center;
}

.slogan
{
	font-size: calc(100vw / 65);
	margin-top: -5%;
	padding-left: 40%;
	color: #000000;
	font-family: "Lato";
}

.subtitle
{
	font-size: 31px;
	color: #054853;
	font-family: "Futura";
	text-align: center;
	margin-top: -10%;
}

.subtitle > a
{
	color: #054853;
	text-decoration: none; /* no underline */
}

.logo
{
	width: calc(100% / 9);
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*Partie de l'index sous la map*/

.sub-head
{
	color: #000000;
	font-family: "Futura";
    text-align: justify;
}

.bg_left_img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	/*width: 40%;*/
}

.bg_center_img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	/*width: 40%;*/
}

.bg_right_img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	/*width: 40%;*/
}

.bg_txt { text-align: justify; }

/* Login */
.login { right: 0vw; }

/*Google map simple*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gm-style-mtc { display: none; }
.gmnoprint a .gmnoprint span, .gm-style-cc { display:none; }

.mappi
{
	min-height: 187px;
	height: calc(33vw - 60px);
}

#map
{
	min-height: 187px;
	height: calc(33vw - 60px);
	border-bottom: 2px ridge;
}

#over_map /*Text on google map*/
{
	position: absolute;
	width: 100%;
	top: -2vw; /*-50*/
}

#over_map_search /*Text on google map*/
{
	position: absolute;
	width: 100%;
	top: 20vw; /*26.2*/
}


@media (min-width: 1px) {
	.title { margin-top: 60%; }
}

@media (min-width: 200px) {
	.title { margin-top: 30%; }
}

@media (min-width: 370px) {
	.title { margin-top: 15%; }
}

@media (min-width: 580px) {
	.title { margin-top: 10%; }
}

@media (min-width: 768px) {
	.title { margin-top: 8%; } 
	.login { right: -48vw; }
}

@media (min-width: 992px) {
	.title { margin-top: 6%; } 
}

.content_left { left: -5vw; }

.content_right { right: -5vw; }

.content_scrible { margin-top: 7%; }

.content_title
{
	font-family: "Futura";
	margin: 0;
	padding-bottom: 15px;
	font-size: 31px;
	font-weight: 500;
	color: #EF861D;
}
.content_text { right: -5vw; }

.content_title_end
{
	font-family: "Futura";
	text-align: center;
	margin: 0;
	padding-bottom: 15px;
	font-size: 31px;
	font-weight: 500;
	color: #EF861D;
}
.content_text_end { text-align: justify; }

