/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   login.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/01/26 21:40:04 by Tbouder           #+#    #+#             */
/*   Updated: 2016/01/26 21:42:42 by Tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body, article
{
	background: url(../img/bg_login.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 4%;

}

.form-signin > a:link
{
	text-decoration:none;
}

.txt
{
	text-align: right;
	padding: 15px;
}

.forma
{
	font-size: 12px;
	color: #740012;
	font-weight: bold;
}

.forma_dos
{
	font-size: 11px;
}

.form-signin
{
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox
{
	color: #FFFFFF;
	margin-bottom: 10%;
	font-size: 20px;
}

.raw_right
{
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
	color: #000000;
	padding-top: 35%;
}

.form-signin .checkbox
{
	font-weight: normal;
	color: #000000;
	font-size: 15px;
	margin-bottom: 2%;
}

.form-signin .form-control
{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus
{
	z-index: 2;
}

.form-signin input[type="email"]
{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"]
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.button-center { text-align: center; }

.checkbox { text-align: right; }

.btn
{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #FFFFFF;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 5%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: calc(100vw / 5);
}
.btn-2
{
	background: #32B1D2; /*red : CB4E4E*/
	color: #FFFFFF;
	box-shadow: 0 6px #2495B2;/*red : AB3C3C*/
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.btn-2a { border-radius: 0 0 5px 5px; }
.btn-2a:hover { box-shadow: 0 4px #2495B2; top: 2px; }/*red : AB3C3C*/
.btn-2a:active { box-shadow: 0 0 #2495B2; top: 6px; }/*red : AB3C3C*/

.btn-2-o
{
	background: #F78F25; /*red : CB4E4E*/
	color: #FFFFFF;
	box-shadow: 0 6px #D77818;/*red : AB3C3C*/
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.btn-2a-o { border-radius: 0 0 5px 5px; }
.btn-2a-o:hover { box-shadow: 0 4px #D77818; top: 2px; }/*red : AB3C3C*/
.btn-2a-o:active { box-shadow: 0 0 #D77818; top: 6px; }/*red : AB3C3C*/