/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   pro.css                                            :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/01/26 21:44:52 by Tbouder           #+#    #+#             */
/*   Updated: 2016/01/26 21:55:08 by Tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

html, body, article
{
	/*background: url(../img/pro.jpg) no-repeat fixed;*/
	/*background: url(../img/bg_index.png) fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.page > a:link
{
	text-decoration:none;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gm-style-mtc { display: none; }
.gmnoprint a .gmnoprint span, .gm-style-cc { display:none; }
.mappi {height: 100%; z-index: -1;}
#map {height: 100%; }


.page { position: absolute; top: 15%; width: 100%; }

.bottom_blocks { position: absolute; bottom: -0px; width: 100%; }

.main_title
{
	text-align: center;
	color: #193C48;
	font-size: calc(100vw / 30);
}

.simpli { color: #F78F24; }

.sub_title
{
	text-align: center;
	color: #193C48;
	font-size: calc(100vw / 55);
	margin-top: -1%;
}

.inscrip { color: #FFFFFF; font-size: calc(100vw / 65); }

.btn
{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #FFFFFF;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 5%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: calc(100vw / 5);
}
.btn-2 {
	background: #32B1D2; /*red : CB4E4E*/
	color: #FFFFFF;
	box-shadow: 0 6px #2495B2;/*red : AB3C3C*/
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.btn-2a { border-radius: 0 0 5px 5px; }
.btn-2a:hover { box-shadow: 0 4px #2495B2; top: 2px; }/*red : AB3C3C*/
.btn-2a:active { box-shadow: 0 0 #2495B2; top: 6px; }/*red : AB3C3C*/

.choose_block { padding-bottom: 2%; background-color: #F78F24; width: 25%;}
.classic_block { padding-bottom: 2%; background-color: #878E90; }
.classic_block:hover
{
	-webkit-box-shadow:inset 0px 0px 0px 10px #656E70;
	-moz-box-shadow:inset 0px 0px 0px 10px #656E70;
	box-shadow:inset 0px 0px 0px 10px #656E70;
}
.premium_block { padding-bottom: 2%; background-color: #193C48; }
.premium_block:hover
{
	-webkit-box-shadow:inset 0px 0px 0px 10px #0E252D;
	-moz-box-shadow:inset 0px 0px 0px 10px #0E252D;
	box-shadow:inset 0px 0px 0px 10px #0E252D;
}
.choose_txt { font-size: calc(100vw / 80); color: #FFFFFF; text-align: center; margin-bottom: -7%; }
.txt { color: #FFFFFF; text-align: center; margin-top: 5%; }
.picto { width: 20%; }
