/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   wip.css                                            :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: Tbouder <Tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/01/25 13:54:02 by Tbouder           #+#    #+#             */
/*   Updated: 2016/01/26 21:54:57 by Tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

html, body, article
{
	background-color: #CCCCCC;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.load
{
	width: 40%;
	margin: 0 auto;
}

.txt
{
	padding-top: 10%;
	text-align: center;
}